section.exp {
  /* border: 1px solid rgb(209, 71, 12); */
  width: 90%;
  margin: auto;
  padding: 30px 260px;
  font-weight: var(--font-weight);
}
section.exp header {
  /* border: 1px solid rgb(209, 71, 12); */
  display: flex;
}
section.exp header h2 {
  counter-increment: about-counter;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight);
  color: var(--color-text-secondary);
  /* border: 1px solid rgb(209, 71, 12); */
  position: relative;
  font-size: 20px;
}
section.exp header h2::before {
  content: "0" counter(about-counter) ".";
  margin-right: 15px;
  font-size: 18px;
  color: var(--color-text-highligth);
}
section.exp header > div {
  /* border: 1px solid rgb(254, 9, 33); */
  flex-grow: 1;
  padding-left: 20px;
}
section.exp header > div > div {
  width: 100%;
  height: 0.5px;
  background-color: var(--color-text-primary);
  position: relative;
  top: 50%;
}

section.exp #expContent {
  /* border: 1px solid rgb(209, 71, 12); */
  padding-left: 128px;
  padding-top: 64px;
  font-weight: 400;
}
section.exp #expContent > span:first-child {
  color: var(--color-text-secondary);
}
section.exp #expContent > span:nth-child(2) {
  color: var(--color-text-highligth);
  transition: color 0.3s;
  position: relative;
  cursor: pointer;
}
section.exp #expContent > span:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--color-text-highligth);
  transition: width 0.3s;
}
section.exp #expContent > span:nth-child(2):hover::after {
  width: 100%;
}

section.exp #expContent > ul {
  list-style-type: none;
  /* border: 1px solid rgb(12, 224, 12); */
  margin: 15px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.exp #expContent > ul > li {
  text-align: justify;
}
section.exp #expContent > ul > li::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid var(--color-text-highligth);
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -4px;
}

@media (max-width: 400px) {
  section.exp {
    /* border: 1px solid rgb(58, 186, 29); */
    padding: 20px 20px;
    width: 100%;
  }
  section.exp header h2::before {
    font-size: 20px;
    margin-right: 10px;
  }

  section.exp header > h2 {
    font-size: 18px;
  }
  section.exp header > div {
    padding-left: 10px;
  }
  section.exp #expContent {
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  section.exp {
    /* border: 1px solid rgb(58, 186, 29); */
    padding: 10px 10px;
  }

  section.exp #expContent {
    padding-left: 50px;
    padding-top: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section.exp {
    /* border: 1px solid rgb(29, 186, 160); */
    padding: 30px 30px;
  }

  section.exp #expContent {
    padding-left: 50px;
    padding-top: 30px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  section.exp {
    /* border: 1px solid rgb(224, 214, 17); */
    padding-left: 180px;
    padding-right: 70px;
  }
  section.exp #expContent {
    padding-left: 50px;
    padding-top: 32px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  section.exp {
    /* border: 1px solid rgb(17, 224, 31); */
    padding-left: 220px;
    padding-right: 70px;
  }
  section.exp #expContent {
    padding-left: 90px;
    padding-top: 64px;
  }
}

@media (min-width: 1281px) and (max-width: 1537px) {
  section.exp {
    border: 1px solid rgb(17, 224, 31);
    padding-left: 260px;
    padding-right: 200px;
    padding-top: 150px;
  }
}

@media (min-width: 1537px) and (max-width: 2000px) {
  section.exp {
    border: 1px solid rgb(226, 7, 18);
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 150px;
  }
}
