.btn {
  /* background-color: #04aa6d; */
  background-color: transparent;
  border: 1px solid var(--color-text-highligth);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  transition: all 0.3s;
  color: var(--color-text-highligth);
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: var(--font-weight);
}
.btn:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px 0px var(--color-text-highligth);
}
