section.contact {
  /* border: 1px solid rgb(16, 75, 224); */
  width: 90%;
  margin: 100px auto;
  padding: 30px 100px;
}
section.contact > div:first-child {
  position: relative;
  /* border: 1px solid rgb(16, 75, 224); */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;
}
section.contact > div:first-child > header {
  color: var(--color-text-highligth);
}

section.contact > div:first-child > h2 {
  color: var(--color-text-secondary);
  font-size: 40px;
}

section.contact > div:first-child > p {
  width: 30%;
  line-height: 1.1;
  /* border: 1px solid rgb(16, 75, 224); */
  text-align: center;
}

@media (max-width: 400px) {
  section.contact {
    /* border: 1px solid rgb(58, 186, 29); */
    padding: 20px 20px;
    width: 100%;
  }
  section.contact > div:first-child > p {
    width: 98%;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  section.contact {
    /* border: 1px solid rgb(58, 186, 29); */
    padding: 10px 10px;
  }
  section.contact > div:first-child > p {
    width: 85%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section.contact {
    /* border: 1px solid rgb(29, 186, 160); */
    padding: 30px 30px;
  }
  section.contact > div:first-child > p {
    width: 71%;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  section.contact {
    /* border: 1px solid rgb(224, 214, 17); */
    padding-left: 50px;
    padding-right: 70px;
  }
  section.contact > div:first-child > p {
    width: 65%;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  section.contact {
    /* border: 1px solid rgb(17, 224, 31); */
    padding-left: 50px;
    padding-right: 70px;
  }
  section.contact > div:first-child > p {
    width: 60%;
  }
}

/* 1536px, 1920px */
