section.projects {
  border: 1px solid rgb(13, 174, 26);
  width: 90%;
  margin: 100px auto;
  padding: 30px 100px;
}
section.projects header h2 {
  counter-increment: about-counter;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight);
  color: var(--color-text-secondary);
  font-size: 20px;
}
section.projects header h2::before {
  content: "0" counter(about-counter) ".";
  margin-right: 15px;
  font-size: 18px;
  color: var(--color-text-highligth);
}

section.projects header h2::after {
  content: "";
  margin-left: 15px;
  width: 300px;
  height: 0.5px;
  background-color: var(--color-text-primary);
  display: inline-block;
  position: relative;
  top: -8px;
}
section.projects .projectCard {
  border: 1px solid rgb(13, 174, 26);
  position: relative;
  padding: 10px;
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.projectCard figure {
  grid-column: 1 / span 6;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* section.projects .projectCard {
  border: 1px solid rgb(13, 174, 26);
  position: relative;
  padding: 10px;
  margin: 30px 0px;
} */

/* section.projects .projectCard > figure {
  flex-basis: 50%;
  position: relative;
} */
section.projects .projectCard > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid red;
}
section.projects .projectCard > figure > div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #297083;
  opacity: 0.6;
  border-radius: 3px;
  transition: all 0.3s;
}

section.projects .projectCard > figure:hover > div.overlay {
  opacity: 0;
}

section.projects .projectCard > div.cardContent {
  border: 1px solid rgb(13, 174, 26);
  grid-column: 7 / -1;
  z-index: 2;
  position: relative;
}
section.projects .projectCard > div.cardContent > p {
  color: var(--color-text-highligth);
  font-size: 13px;
}

section.projects .projectCard > div.cardContent > h4 {
  color: var(--color-text-secondary);
  font-size: 20px;
}
section.projects .projectCard > div.cardContent > div {
  border: 1px solid rgb(13, 174, 26);
  background-color: #112240;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  position: relative;
}
section.projects .projectCard > div.cardContent > div > span {
  color: var(--color-text-highligth);
  transition: color 0.3s;
  position: relative;
  cursor: pointer;
}
section.projects .projectCard > div.cardContent > div > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--color-text-highligth);
  transition: width 0.3s;
}
section.projects .projectCard > div.cardContent > div > span:hover::after {
  width: 100%;
}

section.projects .projectCard > div.cardContent > ul {
  list-style-type: none;
  border: 1px solid rgb(13, 174, 26);
  margin: 0;
  padding: 0;
  font-size: 12px;
}

section.projects .projectCard > div.cardContent > ul > li {
  display: inline;
  margin: 10px;
}
.cardContentEven {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  margin-left: -5%;
}
.cardContentOdd {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-right: -5%;
}

.even {
  direction: ltr;
}
.odd {
  direction: rtl;
}
.evenMargin {
  margin-left: -5%;
}
.oddMargin {
  margin-right: -5%;
}
@media (max-width: 400px) {
  section.projects {
    border: 1px solid rgb(245, 11, 54);
    padding: 20px 20px;
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  section.projects {
    border: 1px solid rgb(214, 217, 16);
    padding: 10px 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section.projects {
    border: 1px solid rgb(47, 14, 235);
    padding: 30px 30px;
  }
  /* section.projects .projectCard {
    width: 300px;
    height:300px;
  } */
  section.projects .projectCard > figure > div.overlay {
    background-color: #0c2034;
    opacity: 0.7;
  }
  section.projects .projectCard:hover > figure > div.overlay {
    opacity: 0.7;
  }
  section.projects .projectCard.odd {
    flex-direction: row;
  }
  section.projects .projectCard > figure {
    width: 450px;
    height: 300px;
    position: relative;
  }
  section.projects .projectCard > div.cardContent.cardContentEven {
    align-items: start;
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.projects {
    border: 1px solid rgb(235, 14, 198);
    padding-left: 50px;
    padding-right: 70px;
  }
  section.projects .projectCard > figure {
    flex-basis: 70%;
    position: relative;
  }

  section.projects .projectCard > div.cardContent {
    border: 1px solid rgb(13, 174, 26);
    flex-basis: 30%;
  }
}

/* @media (min-width: 992px) and (max-width: 1199px) {
  section.projects {
    border: 1px solid rgb(224, 58, 17);
    padding-left: 50px;
    padding-right: 70px;
  }
} */
