section.projects {
  /* border: 1px solid rgb(13, 174, 26); */
  width: 90%;
  margin: 100px auto;
  padding: 30px 100px;
}
section.projects header {
  /* border: 1px solid rgb(13, 174, 26); */
  display: flex;
}
section.projects header h2 {
  counter-increment: about-counter;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight);
  color: var(--color-text-secondary);
  font-size: 20px;
  position: relative;
}
section.projects header h2::before {
  content: "0" counter(about-counter) ".";
  margin-right: 15px;
  font-size: 18px;
  color: var(--color-text-highligth);
}
section.projects > header > div {
  /* border: 1px solid rgb(254, 9, 33); */
  flex-grow: 1;
  padding-left: 20px;
}
section.projects > header > div > div {
  width: 50%;
  height: 0.5px;
  background-color: var(--color-text-primary);
  position: relative;
  top: 50%;
}
section.projects > article.projectCard {
  /* border: 1px solid rgb(174, 158, 13); */
  position: relative;
  padding: 10px;
  margin: 70px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
section.projects > article.projectCard:nth-of-type(2n + 1) > figure {
  grid-column: 1/8;
}
section.projects > article.projectCard:nth-of-type(2n + 1) > div.cardContent {
  grid-column: 7/-1;
  text-align: right;
}

section.projects > article.projectCard > figure {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  grid-area: 1 / 6 / -1 / -1;
  /* border: 1px solid rgb(174, 158, 13); */
}

section.projects > article.projectCard > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.3s;
  /* border: 1px solid red; */
}
section.projects > article.projectCard > figure > div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #297083;
  opacity: 0.6;
  border-radius: 3px;
  transition: all 0.3s;
}

section.projects > article.projectCard > figure:hover > div.overlay {
  opacity: 0;
}

section.projects > article.projectCard > div.cardContent {
  /* border: 1px solid rgb(13, 174, 26); */
  z-index: 2;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section.projects > article.projectCard > div.cardContent > p {
  color: var(--color-text-highligth);
  font-size: 13px;
  margin-top: 70px;
}

section.projects > article.projectCard > div.cardContent > h4 {
  color: var(--color-text-secondary);
  font-size: 20px;
}
section.projects > article.projectCard > div.cardContent > div {
  /* border: 1px solid rgb(13, 174, 26); */
  background-color: #112240;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  position: relative;
}
section.projects > article.projectCard > div.cardContent > div > span {
  color: var(--color-text-highligth);
  transition: color 0.3s;
  position: relative;
  cursor: pointer;
}
section.projects > article.projectCard > div.cardContent > div > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--color-text-highligth);
  transition: width 0.3s;
}
section.projects
  > article.projectCard
  > div.cardContent
  > div
  > span:hover::after {
  width: 100%;
}

section.projects > article.projectCard > div.cardContent > ul {
  list-style-type: none;
  /* border: 1px solid rgb(13, 174, 26); */
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
section.projects > article.projectCard > div.cardContent > a {
  font-size: 25px;
}

.even {
  justify-content: end;
}
.odd {
  justify-content: start;
}

@media (max-width: 400px) {
  section.projects {
    /* border: 1px solid rgb(245, 11, 54); */
    padding: 20px 20px;
    width: 100%;
  }
  section.projects > header h2::before {
    font-size: 20px;
    margin-right: 10px;
  }

  section.projects > header > h2 {
    font-size: 18px;
  }
  section.projects > header > div {
    padding-left: 10px;
  }
  section.projects > header > div > div {
    width: 100%;
  }
  section.projects > article.projectCard {
    padding: 0px;
  }
  section.projects > article.projectCard:nth-of-type(2n + 1) > figure {
    grid-column: 1/-1;
  }
  section.projects > article.projectCard > figure {
    grid-area: 1 / 1 / -1 / -1;
  }
  section.projects > article.projectCard > figure > div.overlay {
    background-color: #0c2034;
    opacity: 0.9;
  }
  section.projects article.projectCard:hover > figure > div.overlay {
    opacity: 0.9;
  }
  section.projects > article.projectCard > div.cardContent {
    grid-area: 1 / 1 / -1 / -1;
    padding: 10px 15px;
  }

  section.projects > article.projectCard:nth-of-type(2n + 1) > div.cardContent {
    grid-column: 1/-1;
    text-align: left;
  }

  section.projects > article.projectCard > div.cardContent > div {
    background-color: transparent;
    padding: 0px;
  }
  section.projects > article.projectCard > div.cardContent > ul {
    justify-content: start;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  section.projects {
    /* border: 1px solid rgb(214, 217, 16); */
    padding: 10px 10px;
  }
  section.projects > header > div > div {
    width: 100%;
  }
  section.projects > article.projectCard {
    padding: 0px;
  }

  section.projects > article.projectCard:nth-of-type(2n + 1) > figure {
    grid-column: 1/-1;
  }
  section.projects > article.projectCard > figure {
    grid-area: 1 / 1 / -1 / -1;
  }
  section.projects > article.projectCard > figure > div.overlay {
    background-color: #0c2034;
    opacity: 0.9;
  }
  section.projects article.projectCard:hover > figure > div.overlay {
    opacity: 0.9;
  }
  section.projects > article.projectCard > div.cardContent {
    grid-area: 1 / 1 / -1 / -1;
    padding: 30px 0px;
  }

  section.projects > article.projectCard:nth-of-type(2n + 1) > div.cardContent {
    grid-column: 1/-1;
    text-align: left;
  }

  section.projects > article.projectCard > div.cardContent > div {
    background-color: transparent;
    padding: 0px;
  }
  section.projects > article.projectCard > div.cardContent > ul {
    justify-content: start;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section.projects {
    /* border: 1px solid rgb(47, 14, 235); */
    padding: 30px 30px;
  }
  section.projects > header > div > div {
    width: 100%;
  }
  section.projects > article.projectCard:nth-of-type(2n + 1) > figure {
    grid-column: 1/-1;
  }
  section.projects > article.projectCard > figure {
    grid-area: 1 / 1 / -1 / -1;
  }
  section.projects > article.projectCard > figure > div.overlay {
    background-color: #0c2034;
    opacity: 0.9;
  }
  section.projects article.projectCard:hover > figure > div.overlay {
    opacity: 0.9;
  }
  section.projects > article.projectCard > div.cardContent > div {
    background-color: transparent;
    padding: 0px;
  }
  section.projects > article.projectCard > div.cardContent {
    grid-area: 1 / 1 / -1 / -1;
    padding: 30px 0px;
  }

  section.projects > article.projectCard:nth-of-type(2n + 1) > div.cardContent {
    grid-column: 1 / -1;
    text-align: left;
  }
  section.projects > article.projectCard > div.cardContent > ul {
    justify-content: start;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  section.projects {
    /* border: 1px solid rgb(235, 14, 198); */
    padding-left: 50px;
    padding-right: 70px;
  }
  section.projects > article.projectCard > figure {
    width: 100%;
    height: 60%;
    position: relative;
    top: 40%;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  section.projects {
    /* border: 1px solid rgb(224, 58, 17); */
    padding-left: 50px;
    padding-right: 70px;
  }
  section.projects > article.projectCard > figure {
    width: 100%;
    height: 80%;
    position: relative;
    top: 20%;
  }
}

@media (min-width: 1281px) and (max-width: 1537px) {
  section.projects {
    border: 1px solid rgb(45, 224, 17);
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 150px;
  }
}
@media (min-width: 1537px) and (max-width: 2000px) {
  section.projects {
    border: 1px solid rgb(224, 58, 17);
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 150px;
  }
}
