:root {
  --bg-color-primary: #0a192f;
  --bg-color-secondary: "";
  --font-primary: "Inter", serif;
  --font-secondary: "Montserrat", serif;
  --font-weight: 600;
  --font-size-body: 16px;
  --font-size-heading: "";
  --font-size-subheading: "";
  --font-size-paragraph: "";
  --color-text-secondary: #ccd6f6;
  --color-text-primary: #8892b0;
  --color-text-highligth: #64ffda;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-inter: "Inter", system-ui, sans-serif;
  --font-monot: "Montserrat", system-ui, sans-serif;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-body);
  background-color: var(--bg-color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
}

::-webkit-scrollbar-button:single-button:decrement {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8l-6 6h12z" fill="%23888"/></svg>')
    no-repeat center;
  height: 10px;
}
::-webkit-scrollbar-button:single-button:increment {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 16l6-6H6z" fill="%23888"/></svg>')
    no-repeat center;
  height: 10px;
}
